<p id="notice"><%= notice %></p>

<h1>Record Catalogue</h1>

<div id="itemsContainer">

<table>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Album Artist</th>
      <th>Album Description</th>
      <th>Price</th>
      <th>Genre</th>
      <th>Format</th>
      <th>Album art</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.albumtitle %></td>
        <td><%= item.albumartist %></td>
        <td><%= item.albumdesc %></td>
        <td><%= item.albumprice %></td>
        <td><%= item.albumgenre %></td>
        <td><%= item.albumformat %></td>
        <td><%= image_tag item.albumart, alt:"Nature", id:"Welcome", style:"width:100%" %></td>
        <td><%= link_to 'Show', item %></td>
        
        <td><a href="/cart/<%= item.id %>" class="button">Add me to cart!</a></td>
        
        <% if session[:login] == 1 %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>


</div>

<br>
<%= link_to 'New Item',  new_item_path, :class => "button", :role => "button" %>
