<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BeeSharpRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="headSec">
      
      <h1>Golf Store</h1>
      
      <ul>
        <li><%=link_to "Home", "/" %></li>
        <li><%=link_to "About", about_path %></li>
        <li><%=link_to "Help", help_path %></li>
        <li><%=link_to "Products", "/items" %></li>
        
        <% if session[:login] == 1 %>
               <li><%= link_to "Log Out", logout_path %></li>
         <% else %>
         
             <li><%= link_to "Log In", login_path %></li>
         <% end %> 
        
        
        
        
      
        
      </ul>
      
    </header>
    
    <div class="container">
      
    <%= yield %>
    
    </div>
    
    <footer class="foot">
      
      <h1>Look at page footer</h1>
      
    </footer>
    
  </body>
</html>
