<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bee Sharp Record Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="headSec">
      <h1>Bee Sharp Records Store</h1>
      
      <ul>
        <li><%=link_to "Home", "/" %></li>
        <li><%=link_to "Products", "/items" %></li>
        <li><%=link_to "Help", help_path %></li>
        <li><%=link_to "About", about_path %></li>
        
        <% if session[:login] == 1 %>
        
        <li><%=link_to "Logout", logout_path %></li>
        
        <% else %>
        
        <li><%=link_to "Login", login_path %></li>
        
        <% end %>
        
      </ul>
      
      
    </header>

    <div class="container">
    <%= yield %>
    </div>

<footer class="foot">
<h1>Im the Footer</h1>
</footer>
  </body>
</html>
